.parent-companyImage {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.div1-companyImage {
  grid-area: 1 / 1 / 2 / 2;
}
.div2-companyImage {
  grid-area: 1 / 5 / 2 / 6;
}

.parent-logoWrapper-companySettings {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(0, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.div1-logoWrapper-companySettings {
  grid-area: 1 / 1 / 2 / 2;
}
.div1-logoWrapper-companySettings {
  grid-area: 1 / 2 / 2 / 3;
}
.div1-logoWrapper-companySettings {
  grid-area: 2 / 1 / 3 / 2;
}
.div1-logoWrapper-companySettings {
  grid-area: 2 / 2 / 3 / 3;
}

.parent-companyDetails-companyDetails {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.div1-companyDetails-companyDetails {
  grid-area: 1 / 1 / 2 / 2;
}

.parent-wrapper-companyDetails {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.div1-wrapper-companyDetails {
  grid-area: 1 / 1 / 2 / 2;
}
.div2-wrapper-companyDetails {
  grid-area: 1 / 2 / 2 / 3;
}
.div3-wrapper-companyDetails {
  grid-area: 2 / 1 / 3 / 2;
}
.div4-wrapper-companyDetails {
  grid-area: 2 / 2 / 3 / 3;
}
.div5-wrapper-companyDetails {
  grid-area: 3 / 1 / 4 / 2;
}

.parent-mainServiceSettings {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.div1-mainServiceSettings {
  grid-area: 1 / 1 / 2 / 2;
}
.div2-mainServiceSettings {
  grid-area: 1 / 2 / 2 / 3;
}
.div3-mainServiceSettings {
  grid-area: 2 / 1 / 3 / 2;
}
.div4-mainServiceSettings {
  grid-area: 2 / 2 / 3 / 3;
}
.div5-mainServiceSettings {
  grid-area: 3 / 1 / 4 / 2;
}
.div6-mainServiceSettings {
  grid-area: 3 / 2 / 4 / 3;
}
.div7-mainServiceSettings {
  grid-area: 4 / 1 / 5 / 2;
}
.div8-mainServiceSettings {
  grid-area: 4 / 2 / 5 / 3;
}
.div9-mainServiceSettings {
  grid-area: 5 / 1 / 6 / 2;
}
.div10-mainServiceSettings {
  grid-area: 5 / 2 / 6 / 3;
}

.parent-platformLinks {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.div1-platformLinks {
  grid-area: 1 / 1 / 2 / 2;
}
.div2-platformLinks {
  grid-area: 2 / 1 / 3 / 2;
}
.div3-platformLinks {
  grid-area: 1 / 2 / 2 / 3;
}
.div4-platformLinks {
  grid-area: 2 / 2 / 3 / 3;
}

.parent-registrationLinks {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.div1-registrationLinks {
  grid-area: 1 / 1 / 2 / 2;
}
.div2-registrationLinks {
  grid-area: 2 / 1 / 3 / 2;
}
.div3-registrationLinks {
  grid-area: 1 / 2 / 2 / 3;
}
.div4-registrationLinks {
  grid-area: 2 / 2 / 3 / 3;
}

.header-companyDetails {
}

.button-wrapper-companySettings {
  margin: 15px;
}

.profileIcon-companySettings {
  display: inline-block;
  color: #ff331f;
}

.checkBox-companySettings {
}

.description-companySettings {
}

.deleteItemIcon-companySettings {
}

.input-companySettings {
}

.button-wrapper-companySettings {
}

.button-comcompanySettingsp {
}

.specialLinkIcon-companySettings {
}

.editItemIcon-companySettings {
}

.addItemIcon-companySettings {
  /* end here */
}

.toggle-list-parent-companySettings {
}

.div1-toggle-list-parent-companySettings {
}
.div2-toggle-list-parent-companySettings {
}

.header-companySettings {
}

.label-companySettings {
}

.breakLine-companySettings {
}

.input-companySettings {
}

.searchInput-companySettings {
}

.radio-companySettings {
}

.table-companySettings {
}

.smallLogo-companySettings {
}
.largeLogo-companySettings {
}

.bellIcon-companySettings {
}

.deleteItemIcon-companySettings {
}

.refreshIcon-companySettings {
}

.copyItemIcon-companySettings {
}

.addItemIcon-companySettings {
}

.editItemIcon-companySettings {
}
.statusIcon-companySettings {
}
