.wrapper-passwordExpand {
  display: flex;
  justify-content: space-between;
  align-items: space-between;
}

.wrapper2-passwordExpand {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.input-wrapper-passwordExpand {
  width: 100px;
  display: flex;
}

.button-wrapper-passwordExpand {
  padding-top: 15px;
  padding-right: 5px;
}
